/*Base Styles */
body {
    font: 1em/1.2;
    font-family: 'Helvetica';
}
h1,h2,h3,h4,h5,h6 {
    

}
/* Layout Styles */
.header {
    
    padding: 1em 1.25em;
}
.container {
    
}
.heading {
    text-align: center;
    font-size: 50px;
    margin-top: 200px;
    color: white;
}
.heading2 {
    margin-top: -20px;
    text-align: center;
    color: white;
}
/* Nav */
.nav {
    list-style: none;
    float: right;
    margin-right: 60px;
}
.nav li {
    display: inline;
   
}
.nav a {
    padding: .7em 1em;
    color: white;
    text-decoration: none;
}
.nav a:hover {
    color: black;
}

/* Icons */

.icons {
    text-align: center;
    margin-top: 0px;
    margin-right: 40px;
}
.icons li {
    display: inline;
    padding: 1em 1em;
}
.icons a {
    color: white;
}
.icons a:hover {
    color: black;
}

/* Video */
#video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size:;

}

.about {
    margin-top: 100px;
    padding: 50px 50px 50px 50px;
    background-color: white;
    text-align: center;
}