/* CSS Reset */

* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

/* Video */

#video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(image.png) no-repeat;
    background-size: cover;
}

/* Header */

.header {
    text-align: center;
    color: white;
    padding: 1em;
}

.header h1 {
    font-size: 4em;
    font-weight: bold;
    margin-top: 3em;
}

.header h3 {
    font-size: 1.5em;
}

.icons {
    padding: 1em;
}

.icons li {
    display: inline;
}

.icons a {
    color: white;
    padding: 1em;
    text-decoration: none;
}

.icons a:hover {
    color: black;
}

.icons li:last-child {
    font-size: 1.4em;
    margin-left: -.5em;
}

/* About */

.about {
    background-color: white;
    padding-top: 4em;
    text-align: center;
}

.about img {

}

.about h1 {
    font-size: 3em;
    font-family: 'Lato';
}

.about h4 {
    width: 80%;
    margin: auto;
    font-family: 'Lato';
    font-size: 1.25em;
    line-height: 1.75;
    margin-bottom: -1em;
}

.about img {
    padding: 3em;
}

/* Skills */

.skills {
    background-color: #E8E8E8;
    padding-top: 4em;
    text-align: center;
}

.skills h1 {
    font-size: 3em;
    padding-bottom: 1em;
}

.skillList {
    display: inline-table;
    padding: 0 4em;
    margin-bottom: -3.75em;
}

.skillList h4 {
    font-size: 2em;
    padding-bottom: .4em;
}

.skillList li {
    list-style-type: none;
    padding: .5em;
}

/* Portfolio */

.portfolio {
    text-align: center;
    padding-top: 4em;
}

.portfolio h1 {
    font-size: 3em;
    color: white;
    padding-bottom: 1.5em;
}

.portfolio-item {
    padding: 0 7em;
    display: inline-block;
}

/* Arrows */

.arrow {
    margin-left: 5em;
    transform: rotate(90deg);
    width: 0%;
    height: 2.5em;
    font-size: 7em;
}

#arrow1 {
    text-decoration: none;
    color: white;
}

#arrow1:hover {
    color: black;
}

#arrow2 {
    text-decoration: none;
    color: black;
}

#arrow2:hover {
    color: gray;
}

#arrow3 {
    text-decoration: none;
    color: gray;
}

#arrow3:hover {
    color: silver;
}

#arrow4 {
    text-decoration: none;
    color: silver;
}

#arrow4:hover {
    color: white;
}

.arrow-up {
    transform: rotate(180deg);
}

/* Footer */

.footer {
    color: white;
    padding: 1em 1.25em;
    margin-top: -3em;
}

.footer span {
    float: right;
    margin-top: -1em;
}

@media screen and (max-width:640px) {
.leftSideBar, .rightSideBar {display:none}
}