* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato;
}

.container {
  position: relative;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 125%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

#header, #about, #skills, #portfolio {
  height: 100vh;
}

#header, .arrow a {
  color: #eeeeee;
}

.icons {
  padding: 16px;
}

.icons li {
  display: inline;
}

.icons a {
  padding: 16px;
  text-decoration: none;
  color: #eeeeee;
}

.icons a:hover, #skills h1 a {
  color: black;
}

.icons li:last-child {
  font-size: 1.4em;
  margin-left: -8px;
}

.aboutbg {
  background-color: #f5f5f5;
}

.aboutbg a, .skillsbg a {
  color: black;
}

.aboutbg .arrow a:hover {
  color: #b0bec5;
}

img, p {
  opacity: 0;
}

p {
  font-size: 120%;
  line-height: 1.75em;
}

.skillsbg {
  background-color: #ede7f6;
}

.skillsbg .arrow a:hover {
  color: #616161;
}

.skillList {
  display: inline-table;
  padding: 0 16px;
}

.skillList li {
  padding: 4px;
  opacity: 0;
}

.arrow {
  position: absolute;
  bottom: 0;
}

.arrow a:hover {
  color: black;
}

#portfolio {
  color: #eeeeee;
}

.footer {
  position: absolute;
  bottom: 0;
  color: #eeeeee;
}