<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <link rel="stylesheet" type="text/css" href="{{ site.url }}/blogstyle.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
      <nav>
        <a href="https://ricochenx.com/blog">Blog</a>
      </nav>
      <div class="container">

      {{ content }}

      </div><!-- /.container -->
      <footer class="icons">
        <ul>
          <li><a href="https://github.com/ricochen" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
          <li><a href="https://www.linkedin.com/in/ricochenx" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
          <li class="icon"><i class="fa fa-envelope-o fa-2x"> </i> ricochenx@gmail.com</li>
        </ul>
      </footer>
    </body>
  </html>
