<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/blogstyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% include google_analytics.html %}
  </head>
  <body>
    <nav>
      <a href="http://ricochenx.com/blog/">Blog</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <span class="meta">{{ page.date | date: '%B %-d, %Y' }}</span>
    <div class="container post">

    {{ content }}

    </div>
    <footer class="icons">
      <ul>
        <li><a href="http://github.com/ricochen" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
        <li><a href="http://linkedin.com/in/ricochenx" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
        <li class="icon"><i class="fa fa-envelope-o fa-2x"> </i> ricochenx@gmail.com</li>
      </ul>
    </footer>
  </body>
</html>
